<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete company</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/index.css"/>
</head>
<body class="hero">
<div class="container">
    <h1>Delete company</h1>
    <h2>Enter company name</h2>
    <form class="company-delete" action="/company/delete" method="post">
        <p>Name : <input type="text" value="" name="setName" id="setName"></p>
        <button class="menu-button" type="submit">Delete</button>
    </form>

    <h4 th:if="${message.length()} != 0" th:text="'Result: ' + ${message}"></h4>
    <h4 th:if="${errorMessage.length()} > 4" th:text="'Error: ' + ${errorMessage}"></h4>
    <form action="/companies" method="get">
        <button class="menu-button" type="submit">Back</button>
    </form>
</div>
</body>
</html>